# REQUIRED
API_URL=http://192.168.1.211:8000/api/v1/telemetry
API_KEY=dev_secret
DRONE_ID=WX-DRN-001
SIMULATE=false

# SNIFF SETTINGS (do not change unless needed)
SNIFF_MODE=true
SNIFF_IFACE=lo
DE_COMM_PORT=60000
